form {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 10px;
}

input {
  border-radius: 15px;
  padding: 10px 20px;
  width: 100%;
}
input:focus {
  outline: none;
}
